:root {
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 20px;
  --space-5: 32px;
  --space-6: 52px;
  --space-7: 84px;
  --space-8: 136px;
  --space-9: 220px;

  --font-family-sans: Bitter;
  --font-family-serif: PT Serif;
  --font-family-mono: IMB Plex Mono;

  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;
  --font-size-5: 24px;
  --font-size-6: 30px;
  --font-size-7: 36px;
  --font-size-8: 48px;
  --font-size-9: 60px;
  --font-size-10: 72px;

  --line-height-0: 16px;
  --line-height-1: 20px;
  --line-height-2: 24px;
  --line-height-3: 28px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 36px;
  --line-height-7: 40px;
  --line-height-8: 48px;
  --line-height-9: 60px;
  --line-height-10: 72px;
  --line-height-11: 96px;
  --line-height-12: 128px;

  --white: #fff;
  --black: #101112;
  --gray-200: #ced2d9;
  --gray-600: #6e7683;
  --blue-600: #1e61cd;
  --magenta-100: #f9d7eb;

  --max-width-0: 320px;
  --max-width-1: 768px;
  --max-width-2: 1200px;

  --box-1-bg: rgba(255,255,255, 0.70)
}

html {
  background-color: var(--white);
  font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100%

  /* background-image:  */
  /* linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, #395eff 100%),  */

  /* background: 
    radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), 
    radial-gradient(ellipse at 80% 5%, #4c00ff 0%, rgb(255 40 184 / 0%) 30%), 
    radial-gradient(ellipse at bottom left, #ff006a 0%, rgb(98 190 255 / 31%) 60%), 
    
    linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%),
    linear-gradient(82deg, #dff7ff 0%, #74b5ff 27%, #88b8ff 74%, #82b3ff 100%);
  background-blend-mode: screen, hue, color, overlay; */
}

header {
    background-color: var(--white);
    /* box-shadow: -13px 24px 27px -15px rgba(0,0,0,0.1); */
    padding: 1rem;
    border-radius: 1rem;
}
header .header {
  display: flex;
  gap: 3rem;
  flex-direction: column
}
.image-wrapper{
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  padding: 4px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  /* box-shadow: -13px 24px 27px -15px rgba(0,0,0,0.1); */
}
.image-wrapper img {
  width: 250px;
  border-radius: 50%;
  height: 250px;
  overflow: hidden
}
/* Layout */
.container {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column
}
.highlight {
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h1 {
  
  font-size: 4rem;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  background-color: rgb(246,245,248);
  padding: 2rem 0;
  border-radius: 50px 50px 0;
}

.page {
  padding: 4rem 0 0;
  background-color: var(--white)
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}
.footer {
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  color: #fff;
  padding: 4rem 0;
  text-align: center;
  

}
.footer p {
  font-size: 1.2rem;
  font-family: var(--font-family-serif);
}
/* Welcome component */
.list-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0; 
  gap: 2rem;
  
}

.button {
  color: var(--white);
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.button h3 {
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: var(--white);
}
.button:hover h3 {
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media  (min-width: 768px) {
  header .header {
    flex-direction: row;
  }
  .list-inline {
    flex-direction: row;
  }
}
.body-content p{
  font-size: 1rem;
  line-height: 1.5;
}
.content  p{
  font-size: 1.2rem;
  line-height: 1.5;
}